:root {
  --main-primary: #8cbe2d;
  --main-secondary: #006fb9;
}

body,
html {
  margin: 0;
  padding: 0;
  border: 0;
  background: #e8e8e8;
}

.MuiToggleButton-standard {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.MuiToggleButtonGroup-root > .Mui-selected {
  background-color: var(--main-primary) !important;
}

.MuiToggleButton-root {
  padding: 3px !important;
  height: 30px;
}

.MuiTableBody-root > tr:nth-child(even) {
  background: rgb(0, 0, 0, 0.03);
}
